#home_body {
  background-image: url('../../assets/images/background.jpg');  
}

#survey_body{
  background: rgb(82, 108, 145);
  text-align: center;
}

.text {
  color: white;  
}

#title{
  font-size: 100px;
}

#title, 
#subtitle, 
.controlPanel {
  color: white;  
}

#goToSurvey,
#submit:hover {
  background: white;
  color: black;
}
#goToSurvey:hover{
  background: black;
  color: white;
}

.controlPanel:hover {
  color: black;
}

#left, #right {
  position: fixed;
  width: 17%;
  height: 100%;
  top: 0
}
#left{
  background-image: url('../../assets/images/starrynight.jpg');
  left: 0
}
#right {
  background-image: url('../../assets/images/starrynight.jpg');
  right: 0
}

#modal_picture{
  width: 300x;
  height: 300px;
}

#submit {
  background: black;
}